//light theme
:root[data-theme="light"] {
  --bg-color: #f6f6f8;
  --card-bg: white;
  --text-color: hsl(0, 0%, 26%);
  --inactive-color: hsl(236, 9%, 61%);
  --active-color: hsl(220, 98%, 61%);
  --hover-color: hsl(235, 19%, 35%);
  --check-color: hsl(233, 11%, 84%);
  --shadow-color: hsla(240, 5%, 85%, 0.603);
  --plus-color: black;
  --bg-img-mobile: url(../images/bg-mobile-light.jpg);
  --bg-img-desktop: url(../images/bg-desktop-light.jpg);
}
