:root[data-theme=light] {
  --bg-color: #f6f6f8;
  --card-bg: white;
  --text-color: hsl(0, 0%, 26%);
  --inactive-color: hsl(236, 9%, 61%);
  --active-color: hsl(220, 98%, 61%);
  --hover-color: hsl(235, 19%, 35%);
  --check-color: hsl(233, 11%, 84%);
  --shadow-color: hsla(240, 5%, 85%, 0.603);
  --plus-color: black;
  --bg-img-mobile: url(../images/bg-mobile-light.jpg);
  --bg-img-desktop: url(../images/bg-desktop-light.jpg);
}

:root[data-theme=dark] {
  --bg-color: #171723;
  --card-bg: hsl(235, 24%, 19%);
  --text-color: hsl(0, 0%, 73%);
  --inactive-color: hsl(234, 11%, 52%);
  --active-color: hsl(220, 98%, 61%);
  --hover-color: hsl(236, 33%, 92%);
  --check-color: hsl(233, 14%, 35%);
  --shadow-color: hsla(0, 0%, 7%, 0.877);
  --plus-color: white;
  --bg-img-mobile: url(../images/bg-mobile-dark.jpg);
  --bg-img-desktop: url(../images/bg-desktop-dark.jpg);
}

.hidden {
  display: none !important;
}

.remove-list {
  transform: translateX(100%);
}

.active {
  color: var(--active-color) !important;
}

.round {
  width: 24px;
  height: 24px;
  border: 2px solid var(--check-color);
  border-radius: 50%;
  margin-right: 0.8rem;
  user-select: none;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
.round img {
  display: none;
}
.round:hover {
  transform: scale(1.1);
  border: 1px solid hsl(280, 87%, 65%);
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.checked {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  opacity: 0.5;
  border: 1px solid var(--check-color);
}
.checked img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0.3rem;
  display: block;
}

.todo-completed {
  text-decoration: line-through !important;
  color: var(--check-color) !important;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-color);
  background-image: var(--bg-img-desktop);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 17rem;
  font-family: "Josefin Sans", sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.todo-container {
  padding-top: 4.5rem;
  padding-bottom: 4rem;
  max-width: 31rem;
  margin: 0 auto;
}
.todo-container .todo-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.todo-container .todo-header .todo-title {
  letter-spacing: 0.8rem;
  color: var(--card-bg);
}
.todo-container .todo-header .toggle-themes-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.todo-container .todo-list-input-container {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.6rem 1rem;
  height: 3.4rem;
  background-color: var(--card-bg);
  border-radius: 5px;
}
.todo-container .todo-list-input-container .circle {
  width: 24px;
  height: 24px;
  color: var(--plus-color);
  border-radius: 50%;
  margin-right: 0.3rem;
  border: 1px solid var(--check-color);
}
.todo-container .todo-list-input-container #input {
  flex: 1;
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  color: var(--plus-color);
  padding: 0 0.5rem;
  outline: none;
}
.todo-container .todo-list-input-container #input::placeholder {
  font-size: 0.8rem;
}
.todo-container .todo-list-input-container #add-todo-btn {
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
  font-size: 2.5rem;
}
.todo-container .todo-containers {
  border-radius: 5px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.todo-container .todo-containers .todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.6rem 0;
  padding-left: 1rem;
  padding-right: 1.2rem;
  transition: all 0.5s;
  height: 3.7rem;
  cursor: pointer;
  border-bottom: 1px solid var(--shadow-color);
}
.todo-container .todo-containers .todo-item .todo-text {
  flex-grow: 1;
  font-size: 1rem;
  user-select: none;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
.todo-container .todo-containers .todo-item .remove-btn {
  opacity: 0;
  visibility: hidden;
  user-select: none;
}
.todo-container .todo-containers .todo-item:hover .remove-btn {
  opacity: 1;
  visibility: visible;
  user-select: none;
}
.todo-container .todo-containers .all-list-container {
  margin-top: 1.5rem;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow-x: hidden;
  background-color: var(--card-bg);
}
.todo-container .todo-containers .empty-container {
  margin-top: 1.5rem;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow-x: hidden;
  background-color: var(--card-bg);
  align-items: center;
  justify-content: center;
}
.todo-container .todo-containers .empty-container span {
  font-size: 1.2rem;
}
.todo-container .todo-containers .active-list-container {
  margin-top: 1.5rem;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow-x: hidden;
  background-color: var(--card-bg);
}
.todo-container .todo-containers .completed-list-container {
  margin-top: 1.5rem;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow-x: hidden;
  background-color: var(--card-bg);
}
.todo-container .todo-containers .todo-tabs-container {
  height: 3rem;
  background-color: var(--card-bg);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
}
.todo-container .todo-containers .todo-tabs-container h4 {
  font-size: 0.9rem;
  color: var(--inactive-color);
  font-weight: 400;
}
.todo-container .todo-containers .todo-tabs-container .tab-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.todo-container .todo-containers .todo-tabs-container .tab-btns .btn {
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--inactive-color);
}
.todo-container .todo-containers .todo-tabs-container .tab-btns .btn:hover {
  color: var(--hover-color);
}
.todo-container .todo-containers .todo-tabs-container .clear-btn {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--inactive-color);
}
.todo-container .todo-containers .todo-tabs-container .clear-btn:hover {
  color: var(--hover-color);
}/*# sourceMappingURL=style.css.map */